/* GENERAL */
*{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
html{
    height: 100%;
    box-sizing: border-box;
}
img{
    display: block;
    height: auto;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "", "Arial", sans-serif;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */
.container{
    width: 100%;
    max-width:1340px;
    margin: 0 auto;
    padding: 0 20px;
}

/* STICKY-FOOTER */
.site-main{
    flex-grow: 1;
}
.form-input{
    padding: 8px;
    font-size: 14px;
    color: #00000040;
}
.list{
    list-style: none;
    padding-left: 0;
}
.invalides{
    border: 1px solid red;
}